<!--
  ~ Copyright (c) 2022. Yuriy Stul
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%-5level] [%C:%L] - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- path to your log file, where you want to store logs -->
        <file>logs/json-test.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d [%thread] [%-5level] [%C:%L] - %m%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>
    <logger name="org.springframework" level="error"/>
    <logger name="com.zaxxer" level="error"/>
    <logger name="org.jboss" level="error"/>
    <logger name="org.hibernate" level="error"/>
</configuration>